@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
body._lock {
    overflow: hidden;
}
button,
input {
    font-family: Montserrat;
}
.container {
    max-width: 1300px;
    margin: 0px auto;
    padding: 0 50px;
    box-sizing: border-box;
}

/*-------------HEADER-------------*/

header, footer {
    background-color: #3C2F2F;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    width: 100%;
}
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 28px;
    font-weight: 700;
    z-index: 5;
}
ul {
    display: flex;
    gap: 4.5vw;
}
.menu_icon {
    display: none;
}

/*-----------MAIN-----------*/

.main-section {
    background: url(../img/image.svg) no-repeat top;
    background-position: right;
    width: 100%;
    height: 100%;
    padding: 100px 0;
}
.form-box {
    width: 550px;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}
p {
    margin: 25px 0 50px 0;
}
input {
    border: none;
    border-bottom: 1px solid #b5b5b5;
    width: 100%;
    margin-bottom: 40px;
    height: 40px;
    font-size: 18px;
    background-color: transparent;
}
input::placeholder {
    color: #B0B8C0;
    font-size: 18px;
}
input:focus {
    outline: none;
    border-bottom: #000 1px solid;
}
button {
    border-radius: 30px;
    font-weight: 600;
    color: #fff;
    background-color: #4E148C;
    width: 230px;
    height: 60px;
    margin-top: 20px;
    font-size: 20px;
}
@media (max-width: 1199px) {
    .main-section {
        background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url(../img/image.svg) no-repeat top;
        background-position: right;
        background-size: contain;
        width: 100%;
        height: 100%;
        padding: 100px 0;
    }

}
/*--------FOOTER--------*/

footer {
    text-align: center;
}

@media (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .menu_icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .menu_icon span,
    .menu_icon::after,
    .menu_icon::before {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu_icon::after,
    .menu_icon::before {
        content: "";
    }
    .menu_icon::before {
        top: 0;
    }
    .menu_icon::after {
        bottom: 0;
    }
    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .header-nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #3C2F2F;
        padding: 100px 20px 20px 20px;
        transition: left 0.3s ease 0s;
    }
    .header-nav._active {
        left: 0;
    }
    ul {
        flex-direction: column;
        font-size: 25px;
        gap: 40px;
    }
    .main-section {
        padding: 50px 0;
    }
    .form-box {
        max-width: 100%;
        margin: 0 auto;
    }

}