<header>
    <div class="container">
        <div class="header-items">
            <div class="header-logo">MusliToxic</div>
            <div class="menu_icon">
                <span></span>
            </div>
            <nav class="header-nav">
                <ul>
                    <li><a href="/">Leave request</a></li>
                    <li><a href="/check_phone">Check request</a></li>
                    <li><a href="/login">Log in as Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>