<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div class="container">
            <div class="login_box">
                <form method="post" class="login_form">
                    <input type="text" name="login" placeholder="Login">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <button>Log In</button>
                </form>
            </div>
            
        </div>
    </main>
    <footer>&copy;MusliToxic 2022</footer>
</body>
<script src="/script.js"></script>
</html>